# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# AWS Glue job script output (optional)
*.log

# AWS Glue ETL temp directory
tmp/
